.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.400000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.400000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.400000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.400000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.400000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.992173,0.000000,0.000000,0.992173,0,0);-ms-transform:matrix(0.992173,0.000000,0.000000,0.992173,0,0);-webkit-transform:matrix(0.992173,0.000000,0.000000,0.992173,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-3.594708px;}
._9{margin-left:-2.585688px;}
._0{margin-left:-1.147680px;}
._1{width:1.386780px;}
._d{width:2.886192px;}
._5{width:6.918208px;}
._4{width:9.790872px;}
._7{width:11.078856px;}
._2{width:12.863580px;}
._3{width:14.298180px;}
._a{width:15.452712px;}
._b{width:16.880460px;}
._6{width:19.910636px;}
._c{width:869.317288px;}
.fc4{color:rgb(145,155,157);}
.fc5{color:rgb(0,0,0);}
.fc0{color:rgb(35,55,59);}
.fc2{color:rgb(8,8,8);}
.fc1{color:rgb(255,255,255);}
.fc3{color:rgb(235,129,27);}
.fs5{font-size:23.912000px;}
.fs3{font-size:27.896000px;}
.fs6{font-size:31.880000px;}
.fs2{font-size:35.864000px;}
.fs4{font-size:39.852000px;}
.fs1{font-size:47.820000px;}
.fs0{font-size:57.384000px;}
.y0{bottom:0.000000px;}
.ye{bottom:31.035167px;}
.y32{bottom:40.956896px;}
.y7b{bottom:77.865726px;}
.y3a{bottom:85.922170px;}
.y7a{bottom:89.017749px;}
.y31{bottom:131.085878px;}
.y39{bottom:140.491677px;}
.y79{bottom:141.841032px;}
.y96{bottom:191.211553px;}
.y5b{bottom:210.539081px;}
.y29{bottom:213.475912px;}
.y30{bottom:221.254547px;}
.y81{bottom:225.501047px;}
.y4d{bottom:232.843126px;}
.y38{bottom:241.772682px;}
.y78{bottom:247.805093px;}
.y63{bottom:253.321574px;}
.y94{bottom:275.585933px;}
.y5a{bottom:276.935288px;}
.y28{bottom:279.911807px;}
.y19{bottom:290.111344px;}
.y85{bottom:295.508764px;}
.y8c{bottom:298.644030px;}
.yd{bottom:300.310881px;}
.y2f{bottom:311.383530px;}
.y62{bottom:319.757469px;}
.y68{bottom:320.392459px;}
.y71{bottom:321.821188px;}
.y4c{bottom:326.980487px;}
.y5{bottom:330.869805px;}
.y80{bottom:331.465109px;}
.y37{bottom:343.053688px;}
.y59{bottom:343.371183px;}
.y45{bottom:344.125234px;}
.y27{bottom:346.308015px;}
.y95{bottom:348.252673px;}
.y3e{bottom:352.657921px;}
.y77{bottom:353.769154px;}
.y18{bottom:356.547238px;}
.y93{bottom:359.960313px;}
.y8b{bottom:365.079925px;}
.yc{bottom:366.707089px;}
.y1f{bottom:380.002205px;}
.y4b{bottom:381.510308px;}
.ya5{bottom:383.772462px;}
.y6d{bottom:385.399625px;}
.y61{bottom:386.193363px;}
.y67{bottom:386.788667px;}
.y44{bottom:398.655055px;}
.y4{bottom:400.996583px;}
.y2e{bottom:401.552199px;}
.y12{bottom:409.688017px;}
.y58{bottom:409.807077px;}
.y51{bottom:411.910484px;}
.y26{bottom:412.743909px;}
.y17{bottom:422.943446px;}
.y70{bottom:427.785250px;}
.y8a{bottom:431.476133px;}
.yb{bottom:433.142983px;}
.y7f{bottom:437.429170px;}
.y84{bottom:440.207254px;}
.y36{bottom:444.334693px;}
.y1e{bottom:446.438099px;}
.y4a{bottom:447.946202px;}
.ya4{bottom:450.208356px;}
.y60{bottom:452.589571px;}
.y66{bottom:453.224562px;}
.y3d{bottom:458.621982px;}
.y76{bottom:459.733216px;}
.y3{bottom:459.931650px;}
.y9a{bottom:463.066917px;}
.y9f{bottom:463.463786px;}
.y43{bottom:465.090949px;}
.y11{bottom:476.084224px;}
.y57{bottom:476.242972px;}
.y50{bottom:478.306692px;}
.y25{bottom:479.179804px;}
.y89{bottom:486.045640px;}
.ya{bottom:487.712490px;}
.y16{bottom:489.379341px;}
.y6c{bottom:491.363686px;}
.y2d{bottom:491.681182px;}
.y7e{bottom:491.998677px;}
.y1d{bottom:501.007607px;}
.y49{bottom:514.382097px;}
.ya3{bottom:516.604564px;}
.y5f{bottom:519.025466px;}
.y42{bottom:519.660456px;}
.y9b{bottom:528.351891px;}
.y91{bottom:528.709073px;}
.y99{bottom:529.502811px;}
.y9d{bottom:529.899680px;}
.y69{bottom:531.129975px;}
.y6f{bottom:533.749311px;}
.y52{bottom:534.503362px;}
.y10{bottom:542.520119px;}
.y56{bottom:542.639180px;}
.y9e{bottom:544.266343px;}
.y4f{bottom:544.742586px;}
.y24{bottom:545.576011px;}
.y35{bottom:545.615698px;}
.y83{bottom:546.171315px;}
.y88{bottom:552.481535px;}
.y9{bottom:554.148385px;}
.y15{bottom:555.815235px;}
.y75{bottom:565.697277px;}
.y1c{bottom:567.403814px;}
.y1a{bottom:567.483188px;}
.y48{bottom:580.817991px;}
.y2c{bottom:581.810164px;}
.ya2{bottom:583.040459px;}
.y5e{bottom:585.461360px;}
.y41{bottom:586.096351px;}
.y8d{bottom:592.446257px;}
.y98{bottom:595.938706px;}
.y9c{bottom:596.335575px;}
.y6b{bottom:597.327748px;}
.y7d{bottom:597.962738px;}
.y3f{bottom:598.081799px;}
.y97{bottom:598.438981px;}
.y92{bottom:601.375813px;}
.y20{bottom:601.693308px;}
.yf{bottom:608.956014px;}
.y55{bottom:609.075074px;}
.y4e{bottom:611.178481px;}
.y23{bottom:612.011906px;}
.y90{bottom:613.083453px;}
.y87{bottom:618.917429px;}
.y3c{bottom:619.155551px;}
.y8{bottom:620.544593px;}
.y14{bottom:622.251130px;}
.y2{bottom:627.767611px;}
.y1b{bottom:633.839709px;}
.y6e{bottom:639.713372px;}
.y34{bottom:646.936391px;}
.y47{bottom:647.214199px;}
.y65{bottom:648.563554px;}
.ya0{bottom:649.476353px;}
.y5d{bottom:651.857568px;}
.y82{bottom:652.135376px;}
.ya1{bottom:663.803329px;}
.y74{bottom:671.661338px;}
.y2b{bottom:671.978834px;}
.y40{bottom:672.256642px;}
.y54{bottom:675.510969px;}
.y22{bottom:678.447801px;}
.y86{bottom:685.313637px;}
.y7{bottom:686.980487px;}
.y13{bottom:688.647338px;}
.y8f{bottom:697.457833px;}
.y7c{bottom:703.887113px;}
.y1{bottom:710.792636px;}
.y46{bottom:713.650094px;}
.y5c{bottom:718.293463px;}
.y6a{bottom:726.548341px;}
.y53{bottom:741.907177px;}
.y21{bottom:744.883695px;}
.y72{bottom:777.625400px;}
.y8e{bottom:781.832213px;}
.y73{bottom:791.992063px;}
.y33{bottom:802.786903px;}
.y3b{bottom:808.581193px;}
.y2a{bottom:816.677323px;}
.y64{bottom:836.441407px;}
.y6{bottom:1017.493110px;}
.h7{height:25.107600px;}
.h5{height:29.290800px;}
.h8{height:33.474000px;}
.h4{height:37.657200px;}
.h6{height:41.844600px;}
.h3{height:50.211000px;}
.h2{height:60.253200px;}
.h1{height:1079.484070px;}
.h0{height:1080.000000px;}
.w0{width:1439.960313px;}
.w1{width:1440.634991px;}
.x0{left:0.000000px;}
.x2{left:33.733877px;}
.x42{left:86.596847px;}
.x28{left:103.582846px;}
.x27{left:105.130636px;}
.x26{left:107.749972px;}
.x29{left:109.972440px;}
.x1{left:112.512402px;}
.x3{left:124.100981px;}
.x38{left:126.045640px;}
.x39{left:137.792967px;}
.x3a{left:143.031639px;}
.x3d{left:150.413405px;}
.x4{left:152.040569px;}
.x3b{left:157.239555px;}
.x3c{left:173.074633px;}
.x34{left:215.420571px;}
.x35{left:226.850402px;}
.x20{left:243.836402px;}
.x37{left:264.473597px;}
.x9{left:285.071106px;}
.x2a{left:304.319259px;}
.x22{left:317.336567px;}
.x3e{left:323.726160px;}
.x17{left:345.752398px;}
.x2f{left:347.895491px;}
.x10{left:377.184434px;}
.x1e{left:385.201191px;}
.x1c{left:393.535443px;}
.x31{left:395.241980px;}
.x41{left:421.475030px;}
.x24{left:422.824385px;}
.x32{left:427.547128px;}
.x2c{left:450.922721px;}
.x23{left:454.692978px;}
.x14{left:456.478889px;}
.x2b{left:458.820417px;}
.x21{left:468.781832px;}
.x1f{left:473.068019px;}
.x1a{left:480.370411px;}
.x30{left:506.563775px;}
.x43{left:514.064601px;}
.xa{left:525.018190px;}
.x2d{left:543.075736px;}
.x7{left:544.504465px;}
.x1b{left:555.140558px;}
.x36{left:577.246169px;}
.x12{left:589.747547px;}
.x13{left:598.915224px;}
.x19{left:608.995701px;}
.x1d{left:614.432808px;}
.x11{left:619.195238px;}
.xc{left:621.814574px;}
.x18{left:635.427186px;}
.x3f{left:637.570279px;}
.xd{left:663.525521px;}
.xb{left:689.441076px;}
.xe{left:699.521552px;}
.x44{left:735.120714px;}
.x40{left:863.547569px;}
.x33{left:999.038695px;}
.x45{left:1094.009481px;}
.x2e{left:1376.659685px;}
.x25{left:1377.731231px;}
.xf{left:1379.556829px;}
.x16{left:1381.541175px;}
.x15{left:1383.366773px;}
.x8{left:1391.899460px;}
.x6{left:1392.971007px;}
.x5{left:1394.796605px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-1.207689pt;}
._9{margin-left:-0.868695pt;}
._0{margin-left:-0.385578pt;}
._1{width:0.465907pt;}
._d{width:0.969654pt;}
._5{width:2.324262pt;}
._4{width:3.289370pt;}
._7{width:3.722085pt;}
._2{width:4.321686pt;}
._3{width:4.803659pt;}
._a{width:5.191539pt;}
._b{width:5.671209pt;}
._6{width:6.689236pt;}
._c{width:292.058412pt;}
.fs5{font-size:8.033546pt;}
.fs3{font-size:9.372023pt;}
.fs6{font-size:10.710499pt;}
.fs2{font-size:12.048976pt;}
.fs4{font-size:13.388796pt;}
.fs1{font-size:16.065749pt;}
.fs0{font-size:19.278899pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:10.426667pt;}
.y32{bottom:13.760000pt;}
.y7b{bottom:26.160000pt;}
.y3a{bottom:28.866667pt;}
.y7a{bottom:29.906667pt;}
.y31{bottom:44.040000pt;}
.y39{bottom:47.200000pt;}
.y79{bottom:47.653333pt;}
.y96{bottom:64.240000pt;}
.y5b{bottom:70.733333pt;}
.y29{bottom:71.720000pt;}
.y30{bottom:74.333333pt;}
.y81{bottom:75.760000pt;}
.y4d{bottom:78.226667pt;}
.y38{bottom:81.226667pt;}
.y78{bottom:83.253333pt;}
.y63{bottom:85.106667pt;}
.y94{bottom:92.586667pt;}
.y5a{bottom:93.040000pt;}
.y28{bottom:94.040000pt;}
.y19{bottom:97.466667pt;}
.y85{bottom:99.280000pt;}
.y8c{bottom:100.333333pt;}
.yd{bottom:100.893333pt;}
.y2f{bottom:104.613333pt;}
.y62{bottom:107.426667pt;}
.y68{bottom:107.640000pt;}
.y71{bottom:108.120000pt;}
.y4c{bottom:109.853333pt;}
.y5{bottom:111.160000pt;}
.y80{bottom:111.360000pt;}
.y37{bottom:115.253333pt;}
.y59{bottom:115.360000pt;}
.y45{bottom:115.613333pt;}
.y27{bottom:116.346667pt;}
.y95{bottom:117.000000pt;}
.y3e{bottom:118.480000pt;}
.y77{bottom:118.853333pt;}
.y18{bottom:119.786667pt;}
.y93{bottom:120.933333pt;}
.y8b{bottom:122.653333pt;}
.yc{bottom:123.200000pt;}
.y1f{bottom:127.666667pt;}
.y4b{bottom:128.173333pt;}
.ya5{bottom:128.933333pt;}
.y6d{bottom:129.480000pt;}
.y61{bottom:129.746667pt;}
.y67{bottom:129.946667pt;}
.y44{bottom:133.933333pt;}
.y4{bottom:134.720000pt;}
.y2e{bottom:134.906667pt;}
.y12{bottom:137.640000pt;}
.y58{bottom:137.680000pt;}
.y51{bottom:138.386667pt;}
.y26{bottom:138.666667pt;}
.y17{bottom:142.093333pt;}
.y70{bottom:143.720000pt;}
.y8a{bottom:144.960000pt;}
.yb{bottom:145.520000pt;}
.y7f{bottom:146.960000pt;}
.y84{bottom:147.893333pt;}
.y36{bottom:149.280000pt;}
.y1e{bottom:149.986667pt;}
.y4a{bottom:150.493333pt;}
.ya4{bottom:151.253333pt;}
.y60{bottom:152.053333pt;}
.y66{bottom:152.266667pt;}
.y3d{bottom:154.080000pt;}
.y76{bottom:154.453333pt;}
.y3{bottom:154.520000pt;}
.y9a{bottom:155.573333pt;}
.y9f{bottom:155.706667pt;}
.y43{bottom:156.253333pt;}
.y11{bottom:159.946667pt;}
.y57{bottom:160.000000pt;}
.y50{bottom:160.693333pt;}
.y25{bottom:160.986667pt;}
.y89{bottom:163.293333pt;}
.ya{bottom:163.853333pt;}
.y16{bottom:164.413333pt;}
.y6c{bottom:165.080000pt;}
.y2d{bottom:165.186667pt;}
.y7e{bottom:165.293333pt;}
.y1d{bottom:168.320000pt;}
.y49{bottom:172.813333pt;}
.ya3{bottom:173.560000pt;}
.y5f{bottom:174.373333pt;}
.y42{bottom:174.586667pt;}
.y9b{bottom:177.506667pt;}
.y91{bottom:177.626667pt;}
.y99{bottom:177.893333pt;}
.y9d{bottom:178.026667pt;}
.y69{bottom:178.440000pt;}
.y6f{bottom:179.320000pt;}
.y52{bottom:179.573333pt;}
.y10{bottom:182.266667pt;}
.y56{bottom:182.306667pt;}
.y9e{bottom:182.853333pt;}
.y4f{bottom:183.013333pt;}
.y24{bottom:183.293333pt;}
.y35{bottom:183.306667pt;}
.y83{bottom:183.493333pt;}
.y88{bottom:185.613333pt;}
.y9{bottom:186.173333pt;}
.y15{bottom:186.733333pt;}
.y75{bottom:190.053333pt;}
.y1c{bottom:190.626667pt;}
.y1a{bottom:190.653333pt;}
.y48{bottom:195.133333pt;}
.y2c{bottom:195.466667pt;}
.ya2{bottom:195.880000pt;}
.y5e{bottom:196.693333pt;}
.y41{bottom:196.906667pt;}
.y8d{bottom:199.040000pt;}
.y98{bottom:200.213333pt;}
.y9c{bottom:200.346667pt;}
.y6b{bottom:200.680000pt;}
.y7d{bottom:200.893333pt;}
.y3f{bottom:200.933333pt;}
.y97{bottom:201.053333pt;}
.y92{bottom:202.040000pt;}
.y20{bottom:202.146667pt;}
.yf{bottom:204.586667pt;}
.y55{bottom:204.626667pt;}
.y4e{bottom:205.333333pt;}
.y23{bottom:205.613333pt;}
.y90{bottom:205.973333pt;}
.y87{bottom:207.933333pt;}
.y3c{bottom:208.013333pt;}
.y8{bottom:208.480000pt;}
.y14{bottom:209.053333pt;}
.y2{bottom:210.906667pt;}
.y1b{bottom:212.946667pt;}
.y6e{bottom:214.920000pt;}
.y34{bottom:217.346667pt;}
.y47{bottom:217.440000pt;}
.y65{bottom:217.893333pt;}
.ya0{bottom:218.200000pt;}
.y5d{bottom:219.000000pt;}
.y82{bottom:219.093333pt;}
.ya1{bottom:223.013333pt;}
.y74{bottom:225.653333pt;}
.y2b{bottom:225.760000pt;}
.y40{bottom:225.853333pt;}
.y54{bottom:226.946667pt;}
.y22{bottom:227.933333pt;}
.y86{bottom:230.240000pt;}
.y7{bottom:230.800000pt;}
.y13{bottom:231.360000pt;}
.y8f{bottom:234.320000pt;}
.y7c{bottom:236.480000pt;}
.y1{bottom:238.800000pt;}
.y46{bottom:239.760000pt;}
.y5c{bottom:241.320000pt;}
.y6a{bottom:244.093333pt;}
.y53{bottom:249.253333pt;}
.y21{bottom:250.253333pt;}
.y72{bottom:261.253333pt;}
.y8e{bottom:262.666667pt;}
.y73{bottom:266.080000pt;}
.y33{bottom:269.706667pt;}
.y3b{bottom:271.653333pt;}
.y2a{bottom:274.373333pt;}
.y64{bottom:281.013333pt;}
.y6{bottom:341.840000pt;}
.h7{height:8.435224pt;}
.h5{height:9.840624pt;}
.h8{height:11.246024pt;}
.h4{height:12.651424pt;}
.h6{height:14.058236pt;}
.h3{height:16.869036pt;}
.h2{height:20.242844pt;}
.h1{height:362.666667pt;}
.h0{height:362.840000pt;}
.w0{width:483.773333pt;}
.w1{width:484.000000pt;}
.x0{left:0.000000pt;}
.x2{left:11.333333pt;}
.x42{left:29.093333pt;}
.x28{left:34.800000pt;}
.x27{left:35.320000pt;}
.x26{left:36.200000pt;}
.x29{left:36.946667pt;}
.x1{left:37.800000pt;}
.x3{left:41.693333pt;}
.x38{left:42.346667pt;}
.x39{left:46.293333pt;}
.x3a{left:48.053333pt;}
.x3d{left:50.533333pt;}
.x4{left:51.080000pt;}
.x3b{left:52.826667pt;}
.x3c{left:58.146667pt;}
.x34{left:72.373333pt;}
.x35{left:76.213333pt;}
.x20{left:81.920000pt;}
.x37{left:88.853333pt;}
.x9{left:95.773333pt;}
.x2a{left:102.240000pt;}
.x22{left:106.613333pt;}
.x3e{left:108.760000pt;}
.x17{left:116.160000pt;}
.x2f{left:116.880000pt;}
.x10{left:126.720000pt;}
.x1e{left:129.413333pt;}
.x1c{left:132.213333pt;}
.x31{left:132.786667pt;}
.x41{left:141.600000pt;}
.x24{left:142.053333pt;}
.x32{left:143.640000pt;}
.x2c{left:151.493333pt;}
.x23{left:152.760000pt;}
.x14{left:153.360000pt;}
.x2b{left:154.146667pt;}
.x21{left:157.493333pt;}
.x1f{left:158.933333pt;}
.x1a{left:161.386667pt;}
.x30{left:170.186667pt;}
.x43{left:172.706667pt;}
.xa{left:176.386667pt;}
.x2d{left:182.453333pt;}
.x7{left:182.933333pt;}
.x1b{left:186.506667pt;}
.x36{left:193.933333pt;}
.x12{left:198.133333pt;}
.x13{left:201.213333pt;}
.x19{left:204.600000pt;}
.x1d{left:206.426667pt;}
.x11{left:208.026667pt;}
.xc{left:208.906667pt;}
.x18{left:213.480000pt;}
.x3f{left:214.200000pt;}
.xd{left:222.920000pt;}
.xb{left:231.626667pt;}
.xe{left:235.013333pt;}
.x44{left:246.973333pt;}
.x40{left:290.120000pt;}
.x33{left:335.640000pt;}
.x45{left:367.546667pt;}
.x2e{left:462.506667pt;}
.x25{left:462.866667pt;}
.xf{left:463.480000pt;}
.x16{left:464.146667pt;}
.x15{left:464.760000pt;}
.x8{left:467.626667pt;}
.x6{left:467.986667pt;}
.x5{left:468.600000pt;}
}
